.about
  padding 10rem 0
  &Description
    font-weight 200
    background: #fff
    margin-left -10rem
    margin-top 5rem
    padding 3rem 2rem 3rem 6rem
    &__link
      &:link
      &:active
      &:hover
      &:visited
        color #0f0f0f