@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css"
@import "mainHeader.styl"
@import "navbar.styl"
@import "menuNav.styl"
@import "mainBanner.styl"
@import "promo.styl"
@import "thumbnail.styl"

body
  background-color #F9FAFB
  font-size 16px
  margin 0
  font-family 'Fira Sans', 'sans-serif'
