.mainHeader
  background: url('image/bg-header_2.jpg') center / cover repeat-x
  min-height 30rem
  color #fff
  padding 4.5rem 0
  text-align: right
.callUs
  &__phone_big
    font-size 3rem
    margin-bottom 0
  &__phone_min
    padding-left 1rem
    margin 0
    line-height 1rem
    font-size 1.8rem
.basket
  color #fff
  text-align right
  &__caption
    text-transform uppercase
    font-size 1.5rem
    display inline-block
    margin-right .5rem
  &__count
    display inline-block
    background #FF633F
    padding 1rem 1.6rem

