.navbar-top
  background #2e3b40
  margin-bottom 0
  color: #fff
  position relative
  &__order
    border none
    background #2e3b40
    float right
    padding: .7rem
    margin-right 1.5rem
  &__call
    border none
    background #006bb2
    float right
    padding: .7rem 1.2rem
  &Info
    list-style none
    padding-left 0
    &__item
      padding-right  1.5rem
      padding-top 0.5rem
      display inline-block
    &__link
      color #fff
      border-bottom none
      &:hover
        text-decoration none
        color #fff
        border-bottom none
      &:visited
        text-decoration none
        color #fff
        border-bottom none
      &:focus
        text-decoration none
        color #fff
        border-bottom none
