.promo
  padding 3rem 0
  text-align: left


.label
  &__image
    display inline-block
    vertical-align top
  &__description
    line-height 2rem
    font-size 1.5rem
    text-align: left
    display inline-block
    padding-left 1  rem
    color: #000