.indent
  padding-top 3rem

.service
  padding 14rem 0
  &__item_border
    border-left 1px solid lightgray
    border-right 1px solid lightgray
  &Item
    padding-left 3.5rem
    &__caption
      color: grey
      font-weight 700
      margin-bottom 3.2rem
    &__description
      font-size 1.5rem
      line-height 2.3rem