.thumbnails
  background #F9FAFB
  &__img
    a
      padding 6rem 0
      display inline-block
      background-color #fff
  &__caption
    &:link
    &:active
    &:hover
    &:visited
      text-decoration none
      color #0f0f0f
  &__proportions
    color grey
    font-size 1.4rem
  &__btn
    background #e55417
    padding .3rem 2rem
    color: #fff
    text-align: right
    position absolute
    right 0
    bottom 0
    &:link
    &:active
    &:hover
    &:visited
      text-decoration none
      color #fff