.about
    .row
        .col-md-5
            img.about__image(src="./image/i1.jpg")
        .col-md-7
            .about__description.aboutDescription
                h2.aboutDescription__caption О нас
                p.aboutDescription__textInfo Рады приветствовать Вас на официальном сайте производителя женской кожаной.
                    | наша фирма производит обувь более 20-лет. Вся продукция изготавливается на
                    | высококачественном обарудрвании от ведущих производителей мира. В
                    | изготовлении используется только фирменные материалы и натуральгая кожа.
                    | Ассортимент постоянно пополняется новыми, стильными моделями.
                a.aboutDescription__link(href="#") Читать далее
