.footer
    .container
        .row
            .footer__logo.footerLogo
                img.footerLogo__logo(src="./image/logo-2.png")
                p.footerLogo__description Топовые модели ECCO со склада производителя
                | ecco.com.ua 2013 -2016
            .footer__call.footerCall
                img.footerCall__image
                p.footerCall__phone (093) 688-44-99
                p.footerCall__phone (066) 004-69-00
                p.footerCall__phone (097) 754-34-70
            .footer__email.footerEmail
                img.footerEmail__image
                p.footerEmail__mail eccoua.com.ua@gmail.com
