<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="style.css")
  title Ecco-New
body
  include ./navbar.jade
  include ./mainHeader.jade
  .container
    include ./thumbnail.jade

  