.mainBanner
    .row
        .col-md-4
            .slogan
                h2.slogan__caption Комфорт
                h4.slogan__description при любых
                    br
                    |обстоятельствах
                .slogan__promo
                    p Топовые модели ECCO
                        br
                        |со склада производителя
        .col-md-4
            img.mainBanner__image(src="./image/header_labels_bg.png")
        .col-md-4
            .mainBanner__sales Скидки
                br
                | -70%