header.mainHeader
  .container
    .row
      .col-md-2
        img.logo(src="./image/logo-2.png")
      .col-md-3
        .callUs
          p.callUs__phone_big (093) 688-44-99
      .col-md-2
          .callUs__phone_min
            p (066) 004-69-00
            br
            |(097) 754-34-70
      .col-md-2.col-md-offset-3
        .basket
          p.basket__caption корзина
          p.basket__count 0
    include ./menuNav.jade
    include ./mainBanner
    include ./promo.jade
