.navbar-top
  .container
    ul.navbar-top__info.navbar-topInfo
      li.navbar-topInfo__item
        a.navbar-topInfo__link(href="#") о нас
      li.navbar-topInfo__item
        a.navbar-topInfo__link(href="#") Доставка и оплата
      li.navbar-topInfo__item
        a.navbar-topInfo__link(href="#") отзывы
      button.navbar-top__call Позвони мне
      button.navbar-top__order Зваказ одним кликом