.promo
    .row
        .col-md-3
            .label
                img.label__image(src="./image/index.png")
                p.label__description
                    strong натуральная кожа
                    br
                    | высшего сорта
        .col-md-3
            .label
                img.label__image(src="./image/index1.png")
                p.label__description
                    strong  доставка и оплата
                    br
                    | наложенным платежом
        .col-md-3
            .label
                img.label__image(src="./image/index2.png")
                p.label__description
                    strong  гарантия обмена
                    br
                    | и возврата товара
        .col-md-3
            .label
                img.label__image(src="./image/index3.png")
                p.label__description
                    strong  бесплатная доставка
                    br
                    | при покупке от 2 пар


