.service
    .row
        .col-md-4.service__item.serviceItem
            h3.serviceItem__caption Способы доставки
            .serviceItem__description
                strong Нова Пошта
                br
                | Отправка заказов из Днепропетровска ежедневно.
                | Срок доставки 1-4 дня, в зависимости от
                | населенного пункта.
        .col-md-4.service__item_border.service__item.serviceItem
            h3.serviceItem__caption Способы оплаты
            .serviceItem__description
                strong Безналичный расчет
                br
                | Вы можете оплатить всю сумму за заказ
                | на карту Приват банка. Реквизиты и сумму
                | для оплаты Вы получите после офрмления
                | заказа на указанный Вами имеил.
                br
                p.indent
                strong Наложенный платеж
                br
                | Данный вид оплаты доступен только в случае
                | наличия модели и размера на складе
                | необходимо будет оставить предоплату в
                | размере 100-200 грн. за услуги Новой почты
                | или другой службы доставки(не всегда
                | клиенты приходят за своими заказами).
        .col-md-4.service__item.serviceItem
            h3.serviceItem__caption Гарантия
            .serviceItem__description
                | Гарантия на всю обувь 30 календарных дней
                | с момента получения, при условии соблюдения
                | правил эксплуатации и ухода потребителем.
                | Обмен и возврат в течении 14 календарных
                | дней. В случае индивидуального заказа,
                | которго нет в серии, а это изменение
                | подошвы или цвета кожи - обмен и возврат
                | только в случае заводского брака. Мы
                | принимаем на себя обязательства о
                | проведении бесплатного ремонта или замены
                | соответствующей продукции.