.thumbnails
    .thumbnails__img
        a(href="#")
            img(src="./image/shoes.jpg" title="туфли" alt="туфли")
    a.thumbnails__caption(href="#") Кроссовки
    p.thumbnails__proportions Размеры: 36, 37, 38, 39 ,40
    .thumbnails__price 900 грн
    a.thumbnails__btn(href="#") Купить